
    .card{
        min-height: auto;
        display: flex;
        width: auto;
        max-width: 1200px;
        margin: 20px auto;
    }

    .card-img-top{
        width: auto;
        height: auto;
    }
